# PostgreSQL
POSTGRES_USER=django_multi_tenant_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=django_multi_tenant_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB
