# Project specific
.idea/

# Python cache files
*.pyc
__pycache__

# Virtual Environments
.env
.env/
venv/
.venv/

# Database files
*.db
*.sqlite3

# Media files
media/*
!media/.gitkeep

# Static files
staticfiles

# Mac
.DS_Store

# # Logs
# logs/*
# !logs/.gitkeep

# ToDo
ToDo.md