Django==5.1.9
psycopg2-binary==2.9.10
djangorestframework==3.16.0
django-filter==25.1
Markdown==3.8
django-structlog>=10.0.0
gunicorn==23.0.0
python-dotenv>=1.2.1
django-tenants==3.7.0
django-tenant-users==2.1.1
django-crispy-forms>=2.3
crispy-bootstrap5>=2024.2
django-hijack>=3.7.6
whitenoise[brotli]>=6.11.0
pillow>=12.1.1
